- name: Check if Samba user exists
  ansible.builtin.command: "pdbedit -u {{ item.name }}"
  register: samba_user_check
  changed_when: false
  failed_when: false
  loop: "{{ users }}"
  no_log: true

- name: Create Samba user if missing
  ansible.builtin.shell: |
    (echo '{{ item.item.password }}'; echo '{{ item.item.password }}') \
    | smbpasswd -s -a '{{ item.item.name }}'
  args:
    executable: /bin/bash
  when: item.rc != 0
  loop: "{{ samba_user_check.results }}"
  no_log: true
  changed_when: true

- name: Set Samba password if user exists
  ansible.builtin.shell: |
    (echo '{{ item.item.password }}'; echo '{{ item.item.password }}') \
    | smbpasswd -s '{{ item.item.name }}'
  args:
    executable: /bin/bash
  when: item.rc == 0
  loop: "{{ samba_user_check.results }}"
  no_log: true