- name: Install cifs-utils
  ansible.builtin.apt:
    name:
      - cifs-utils
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: Copy SMB credentials
  ansible.builtin.copy:
    src: .smbcredentials
    dest: "/home/{{ server_user }}/.smbcredentials"
    owner: "{{ server_user }}"
    group: "{{ server_user }}"
    mode: '0600'

- name: Create SMB mount directories
  ansible.builtin.file:
    path: "/mnt/{{ item }}"
    state: directory
    owner: "{{ server_user }}"
    group: "{{ server_user }}"
    mode: '0755'
  loop: "{{ mount_dirs }}"

- name: Add SMB shares to /etc/fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: "//{{ nas_ip }}/{{ item }}  /mnt/{{ item }}  cifs  credentials=/home/{{ server_user }}/.smbcredentials,vers=3.0,uid=1000,gid=1000,nofail,_netdev  0  0"
    create: false
    state: present
    backup: yes
  loop: "{{ mount_dirs }}"
  notify: Mount all fstab entries