- name: Install Samba
  ansible.builtin.apt:
    name:
      - samba
    state: present
    update_cache: yes
    cache_valid_time: 3600
- name: Ensure smbd service is enabled and started
  ansible.builtin.service:
    name: smbd
    state: started
    enabled: true
- name: Check if Samba user exists
  ansible.builtin.shell: smbpasswd -e {{ server_user }}
  register: samba_user_check
  failed_when: false
  changed_when: false
- name: Set Samba password for {{ server_user }}
  ansible.builtin.shell: printf '%s\n%s\n' "{{ samba_user_password }}" "{{ samba_user_password }}" | smbpasswd -s -a {{ server_user }}
  no_log: true
  failed_when: false
  changed_when: false
  when: samba_user_check.rc != 0